<div class="sidebar">
  <h5 class="sidebar-title"><i class="bi bi-person-workspace"></i> Faculty</h5>

  <ul class="sidebar-menu">

    <li>
      <a href="{{ url_for('faculty.faculty_dashboard') }}">
        <i class="bi bi-book"></i> Courses
      </a>
    </li>

    <li>
      <a href="{{ url_for('templates.manage_template', course_id=1) }}">
        <i class="bi bi-file-earmark-code"></i> Templates
      </a>
    </li>

    <li>
      <a href="{{ url_for('questions.manage_questions') }}">
        <i class="bi bi-question-circle"></i> Questions
      </a>
    </li>

    <li>
      <a href="{{ url_for('generation.generation_index') }}">
        <i class="bi bi-file-earmark-plus"></i> Generate Paper
      </a>
    </li>

    <li>
      <a href="{{ url_for('generation.paper_history') }}">
        <i class="bi bi-files"></i> Generated Papers
      </a>
    </li>

  </ul>

  <form method="POST" action="{{ url_for('main.logout') }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <button class="btn btn-outline-light w-100 mt-4 d-flex align-items-center justify-content-center gap-2"
      style="border-radius: 8px;">
      <i class="bi bi-box-arrow-right"></i> Logout
    </button>
  </form>

</div>