<div class="sidebar">
  <h5 class="sidebar-title">Super Admin</h5>

  <ul class="sidebar-menu">
    <li class="{{ 'active' if request.path == '/superadmin/dashboard' else '' }}">
      <a href="{{ url_for('main.superadmin_dashboard') }}">Departments</a>
    </li>

    <li class="{{ 'active' if request.path.startswith('/superadmin/faculties') else '' }}">
      <a href="{{ url_for('main.faculty_management') }}">Faculties</a>
    </li>

    <li class="{{ 'active' if request.path.startswith('/superadmin/programmes') else '' }}">
      <a href="{{ url_for('main.programme_management') }}">Programmes</a>
    </li>

    <li>
  <a href="{{ url_for('courses.manage_courses') }}">
    Courses
  </a>
</li>

  </ul>
  <form method="POST" action="{{ url_for('main.logout') }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <button class="btn btn-sm btn-outline-danger w-100 mt-3">
        Logout
    </button>
</form>

</div>
