{% extends "layout_dashboard.html" %}
{% block title %}Departments{% endblock %}

{% block content %}
<h4 class="mb-3">Departments</h4>

<form method="POST" class="mb-4">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  <div class="input-group">
    <input class="form-control" name="dept_name" placeholder="Department name">
    <button class="btn btn-primary">Add</button>
  </div>
</form>

<table class="table table-bordered">
  <thead class="table-light">
    <tr><th>ID</th><th>Name</th><th>Action</th></tr>
  </thead>
  <tbody>
    {% for dept in departments %}
    <tr>
      <td>{{ dept.id }}</td>
      <td>{{ dept.name }}</td>
     <td>
  <a href="{{ url_for('departments.department_detail', dept_id=dept.id) }}"
     class="btn btn-sm btn-outline-primary">
     View
  </a>
</td>

    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
